---
import { t } from "i18next";
---

<footer class="bg-gray-100 dark:bg-gray-800">
  <div class="container mx-auto px-6 py-4">
    <div class="flex justify-between items-center">
      <div class="text-gray-600 dark:text-gray-300">
        &copy; 2024 InterpretingBooth. {t('footer.rights')}
      </div>
      <div class="flex space-x-4">
        <a href="#" class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white">
          {t('footer.privacy')}
        </a>
        <a href="#" class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white">
          {t('footer.terms')}
        </a>
      </div>
    </div>
  </div>
</footer>